<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/appointment.css">
    <script src="https://kit.fontawesome.com/2437fb8d10.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title>Online Pharmacy</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <div class="logo">
            <i class="fa-solid fa-bucket"></i>
            Pharma
        </div>
        <div class="menu">
            <ul>
                <li><a href="./Main2" >Home</a></li>
                <li><a href="./profile" >Profile</a></li>
                <li><a href="./appointment" class="active">Appointment</a></li>
                <li><a href="./search" >Search</a></li>
                <li><a href="#" >Bill</a></li>
                
                
            </ul>
        </div>
        <div class="login">
            <button type="submit">Log in</button>
            <button type="submit">Sign in</button>
        </div>


    </header> 
    <form action="/appointment" method="GET">
        <div class="search-bar">
            <input type="text" name="search_doctor" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <div class="middle">
        <h2 style="text-align: center;">Search Results : <%= query %></h2>

        <!-- Iterate over the search results and display them in cards -->
        <div id="results" style="display: flex;justify-content: space-around;">
            <% for (let i = 0; i < data.length; i++) { %>
                <div class="card">
                <img src="images/blank-profile-picture-g194d58982_1280.png" alt="ProductImage">
                <h3><%= data[i].Doc_name %></h3>
                <h5>Email: <%= data[i].Doc_Email %></h5>
                <p><%= data[i].Doc_Que %></p>
                <p><%= data[i].Doc_Hos %></p>
                <p>visiting time:  <%= data[i].Doc_day %> <%= data[i].Doc_shift %> <%= data[i].Doc_Start %></p>
                <button class="add-to-cart-btn" >Take Appointment</button>
                </div>
            <% } %>
            



        </div>

        
    </div>
      
      

    <footer>
        <div class="feedback">
          <h3>User Feedback</h3>
          <p>Leave your valuable feedback:</p>
          <form>
            <textarea placeholder="Your feedback"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="admin-info">
          <h3>Admin Information</h3>
          <p>Name: John Doe</p>
          <p>Address: 123 Pharmacy Street, City, Country</p>
        </div>
        <h3>copyright@ </h3>
    </footer>
        
    
    
    

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="./jason.js"></script>
    <script src="./index.js"></script>
    <script src="./index2.js"></script>
    
</body>
</html>